[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain
[submodule "awesome/bling"]
	path = awesome/bling
	url = https://github.com/Nooo37/bling.git
