[submodule "vim/plugged/vim-tmux"]
	path = vim/plugged/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "vim/plugged/vim-gitgutter"]
	path = vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugged/vim-surround"]
	path = vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/plugged/vim-fugitive"]
	path = vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/plugged/vim-vinegar"]
	path = vim/plugged/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/plugged/vim-git"]
	path = vim/plugged/vim-git
	url = https://github.com/tpope/vim-git
[submodule "vim/plugged/vim-commentary"]
	path = vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugged/vim-airline-themes"]
	path = vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/plugged/tagbar"]
	path = vim/plugged/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree
